.main__text {


    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    font-weight: 900px;

    margin: 0 auto;
}

@media screen and (min-width: 768px){
        .main__text{font-weight: 900;
        font-size: 26px;
        line-height: 42px;}}

@media screen and (min-width: 1200px) {
        .main__text{font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        }
    
}

.main {
    background-image: url(../images/Img\ Overlay.png), url(../images/Img.png);
    background-size: cover;
    max-width: 1600px;
    background-color: rgba(47, 48, 58, 0.4);
    text-align: center;
    padding: 200px 0;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        max-width: 480px;} 
       
        
    }