.clients__link {
    color: #AFB1B8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border-color: #2196F3;
    color: #2196F3;
}

}

.clients__list {
    display: flex;

}

.clients__item {

    height: 92px;
    width: calc(100% / 6 - 30px);
    margin-right: 30px;
}

.clients__icon {
    display: flex;
    width: 106px;
    height: 60px;
    fill: currentColor
}



.clients__icon-list {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    margin: 20px;
    fill: #E5E5E5;
}


.clients__name {


    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: #212121;
}

.clients__list {
    display: flex;
    justify-content: center;
}
.clients {
    padding: 94px 0;
}